.nav {
    background-color: black;
    height: 40px;
    /* position: fixed; */
}

span {
    float: right;
    color: white;
    margin: 20px;
}

.heading {
    position: relative;
    top: 50px;
    left: 200px;
    display: inline-block;
    font-family: 'Rowdies', cursive;
}

.main-pic {
    position: relative;
    left: 500px;
    border-radius: 20%;
    top: 70px;
    height: 300px;
    width: 300px;
}

.sectionOne {
    background-color: blanchedalmond;
    height: 500px;
    position: relative;
    bottom: 40px;
}

.sectionTwo {
    text-align: center;
    background-color: peachpuff;
    position: relative;
    bottom: 40px;
    padding: 30px;
}

.imagesTwo {
    height: 300px;
    width: 300px;
    margin: 50px;
    border-radius: 20%;
}

.headingTwo {
    font-family: 'Rowdies', cursive;
    color: black;
    padding: 30px;
}

.sectionThree {
    position: relative;
    bottom: 60px;
    text-align: center;
    background-color: bisque;
}

@media screen and (max-width:738px) and (min-width:590px) {
    .main-pic {
        display: block;
        position: relative;
        bottom: 50px;
        height: 200px;
        width: 200px;
    }
    .heading {
        position: relative;
        bottom: 100px;
    }
}

@media screen and (max-width:590px) and (min-width:0px) {
    .main-pic {
        display: block;
        height: 100px;
        width: 100px;
        position: relative;
        right: 200px;
        top: 50px;
    }
    .heading {
        position: relative;
        right: 200px;
        top: 20px;
    }
}

.khareedo {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    bottom: 20px;
}

.link {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linkk {
    background-color: darksalmon;
    padding: 30px;
}

.headingThree {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.brand {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 150px;
    top: 200px;
}